
<section class="global-header">
	<header class="global-header-wrapper">
			<a href="/" class="logo">
				<img src="/images/One_North_Horizontal.svg" alt="">
			</a>

			<nav >
				<a class="global-header-back-link" href="/">Back to home</a>
			</nav>
	</header>
</section>