$color-onenorth-red: #cd1820;
$border-gray: #dfdfdf;





//utility classes

.nostyle {
	list-style: none;
}

body,html {
	margin: 0;
}

//oni-header

.global-header {
	background-color: $color-onenorth-red;
	
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 60px;

	.logo {
		width: 140px;
	}

	.global-header-wrapper {
		padding: 10px 40px;
		overflow: hidden;
		text-align: right;
	}

	.global-header-back-link{
		color: white;
		opacity: .75;
		display: inline-block;
		border-radius: 3px;
		border: 2px solid white;
		padding: 5px 8px;
		margin: 2px 0;
		text-decoration: none;

		&:hover {
			opacity: 1;
		}
	}


	.logo {
		float: left;
	}
}

//home
.oni-home {
	font-family: 'Montserrat', sans-serif;

	a {
		color: $color-onenorth-red;
		text-decoration: none;

		&:hover {
			color: black;
		}
	}

	.main-title{
		text-transform: uppercase;
		padding-bottom: 2rem;
		margin:2.5rem 0 2rem;
		border-bottom: 1px solid $border-gray;
		text-align: center;

	}

	//list style

	li {
		margin: 15px 0;
	}

	.intro {
		color: gray;
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 1.5rem;
	}
}

.site-content {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

.hero-logo {
	position: relative;
	z-index: 2;
	margin-top: -60px;
	background-color: $color-onenorth-red;
	padding: 80px 40px 10px;
	text-align: center;

	img {
		max-width: 800px;
	}
}


.widget-list {
	width: 300px;
	overflow-y: auto;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	padding-top: 60px;
	background-color: #efefef;
	border-right:1px solid  $border-gray;


	a {
		color: $color-onenorth-red;
		text-decoration: none;

		&:hover {
			color: black;
		}
	}
	ul {
		padding-left: 20px;
	}

	li {
		margin: 10px 0;
	}
}

.oni-wrapper {
	padding:100px 30px 40px 350px;

}

.oni-block-heading {
	padding-bottom: 1rem;
	margin:1.5rem 0 1rem;
	border-bottom: 1px solid $border-gray;
}
.oni-block {
	overflow: hidden;

	a {
		color: $color-onenorth-red;
		text-decoration: none;

		&:hover {
			color: black;
		}
	}
}
.lead {
	font-size: 20px;
}

blockquote {
	border-left: 3px solid $border-gray;
	padding-left: 20px;
}

.color-block {
	color: gray;
	width: 20%;
	float: left;
	padding: 2%;
	border: 1px solid $border-gray;
	border-radius: 2px;
	margin:1rem 5% 1rem 0;

	
}

.color-block-sample {
	width: 100%;
	padding-bottom: 50%;
	background-color: $color-onenorth-red; 
	margin: 0 0 1rem;

}



