<div class="site-wrapper oni-home">
	<div class="hero-logo">
		<img src="images/One_North_Horizontal.svg" alt="">
	</div>

	<div class="site-content">
		<header><h1 class="main-title">Lawfirm Template Site</h1></header>

		<p class="intro">Intro Paragraph - Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

		{{> onenorth-nav}}

	</div>
</div>

