<div class="oni-wrapper">

    <a name="typography"></a>
    <section  class="oni-block">
        <header><h1 class="oni-block-heading">Typography</h1></header>
        <h1>This is an h1 Heading</h1>
        <h2>This is an h2 Heading</h2>
        <h3>This is an h3 Heading</h3>
        <h4>This is an h4 Heading</h4>
        <h5>This is an h5 Heading</h5>
        <h6>This is an h6 Heading</h6>
        <hr>
        <p class="lead">This is some lead body copy. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
        <p>This is some body copy. Donec id elit non mi porta gravida at eget metus. <a href="/style-guide#" title="">This is a hyperlink</a>. Donec ullamcorper nulla non metus auctor fringilla. <strong>This is some bold text</strong>. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. <em>This is some italicised text</em>. Sed posuere consectetur est at lobortis.</p>
        <div class="row">
            <div class="span4">
                <ul>
                    <li>This is an unordered list</li>
                    <li>Lorem ipsum dolor sit amet
                        <ul>
                            <li>Phasellus iaculis neque</li>
                            <li>Vestibulum laoreet porttitor sem</li>
                        </ul>
                    </li>
                    <li>Consectetur adipiscing elit</li>
                </ul>
            </div>
            <div class="span5">
                <ol>
                    <li>This is an ordered list</li>
                    <li>Cras mattis consectetur purus sit amet fermentum</li>
                    <li>Praesent commodo cursus magna, vel scelerisque</li>
                    <li>Nullam quis risus eget urna mollis ornare</li>
                    <li>Donec id elit non mi porta gravida at eget metus</li>
                </ol>
            </div>
        </div>
        <p><small>This is some fine print. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</small></p>
        <blockquote>
            <p>This is a blockquote. Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
            <small>This is a blockquote source attribution</small>
        </blockquote>
    <section>


    <a name="accordion"></a>
    <section  class="oni-block">
        <header><h1 class="oni-block-heading">Accordion</h1></header>
        <p data-height="354" data-theme-id="0" data-slug-hash="KwmvaK" data-default-tab="result" data-user="zbert" class='codepen'>See the Pen <a href='http://codepen.io/zbert/pen/KwmvaK/'>KwmvaK</a> by Rene (<a href='http://codepen.io/zbert'>@zbert</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
		<script async src="http://assets.codepen.io/assets/embed/ei.js"></script>
    </section>

   <a name="dropdown"></a>
    <section  class="oni-block">
    	<header><h1 class="oni-block-heading">Dropdowns</h1></header>
    	<p data-height="140" data-theme-id="0" data-slug-hash="NPjXqJ" data-default-tab="result" data-user="zbert" class='codepen'>See the Pen <a href='http://codepen.io/zbert/pen/NPjXqJ/'>NPjXqJ</a> by Rene (<a href='http://codepen.io/zbert'>@zbert</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
		<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
    </section>

</div>

<div class="widget-list">

    <h2>Widgets</h2>
    <ul class="nostyle">
        <li><a href="#typography">Typography</a></li>
    </ul>

    <h2>Components</h2>
    <ul class="nostyle">
    	<li><a href="#accordion">Accordion</a></li>
        <li><a href="#typography">Select Dropdown</a></li>
    </ul>
</div>
